###여기다 적은 파일은 추적하지 않음. 깃허브에 자동으로 올라가지 않음. 그래서 필요한 사람들끼리 비밀번호 등 주고받을 때 쓸 수 있음.

 파이썬 가상 환경 폴더(버츄얼 인바이런먼트)
.venv/

# 파이썬 캐시 폴더(임시 폴더)
__pycache__/

# 주피터 노트북 자동 저장 폴더
.ipynb_checkpoints/

# Mac os Finder 폴더 보기 설정이 저장된 파일
.DS_Store

# .py 파일 실행 시 생성되는 컴파일 캐시 파일
*.pyc

#파이참 설정
.idea

# dotenv 무시 설정
.env


#models/
catboost_info/

cifar*
cifar*.*
/02_cnn/data/checkpoints/resnet18-f37072fd.pth
/02_cnn/models/resnet18_svhn_state_dict.joblib
/02_cnn/data/train_32x32.mat
/02_cnn/data/test_32x32.mat

# 실수로 특정 파일을 커밋해는데 지우고 싶을 때(추적하기 싫을때)
# git rm --cached 파일명
# 커밋목록에 떠 있는 것 자체가 싫다면, 폴더 구조를 바꾼 다음 해당 폴더를 여기에 ignore 처리를 해야 함.