###여기다 적은 파일은 추적하지 않음. 깃허브에 자동으로 올라가지 않음. 그래서 필요한 사람들끼리 비밀번호 등 주고받을 때 쓸 수 있음.

 파이썬 가상 환경 폴더(버츄얼 인바이런먼트)
.venv/

# 파이썬 캐시 폴더(임시 폴더)
__pycache__/

# 주피터 노트북 자동 저장 폴더
.ipynb_checkpoints/

# Mac os Finder 폴더 보기 설정이 저장된 파일
.DS_Store

# .py 파일 실행 시 생성되는 컴파일 캐시 파일
*.pyc

#파이참 설정
.idea

# dotenv 무시 설정
.env


models/
catboost_info/